
.footer {
	padding-top: 7px;
	padding-bottom:20px;
	margin-bottom:50px;
}

#pageback {
	color: #555555;
	margin-top: -1px;
	padding: 3px 6px;
	background-color: #F5F5F5;
	font-size: 12px;
}

#pagenumber {
	color: #555555;
	padding: 3px 7px;
	background-color: #F5F5F5;
	font-size: 12px;
	font-weight: bold;
}
.header1{
	height:40px;
	margin-top:5px;
	background: #b8d0ec;
	border: 1px solid #7BAFD0;
	padding-top:3px;
}
.screenID {
	width: 30%;
	float: left;
	text-align: left;
	padding-top: 6px;

}
.screenName {
	width: 40%;
	float: left;
	text-align: center;
	padding-top: 6px;	
}
.screenDay {
	text-align: right;
	padding-top: 6px;
}
.bg{
	background-color:white;
	border: 1px solid #7BAFD0;
	padding:5px 0px;
}
.error {
	padding-left:15px;	
	margin-top: 15px;
	padding-top:2px;
	color: black;
	border: 1px solid #2367aa;
	background-color:white;
	border: 1px solid red;
	
}

.successful {
	padding-left:15px;
	margin-top: 15px;
	padding-top:2px;
	color: black;
	border: 1px solid #2367aa;
	background-color:white;
	border: 1px solid #7BAFD0;
	
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
        #diez  { color: red  }
    }
	 @-moz-document url-prefix() { 
        .selector {
            color:red;
        }
    }
.top_content1{
	width:100%;
	margin-top:15px;
}
.top_content2{
	width:100%;
}
.label {
	background: #1a75c6;
	float: left;
	height: 25px;
	border: 1px solid #2367aa;
	border-radius: 0px;
}
.select{
	height: 25px;
	border: 1px solid #7BAFD0;
}
.input_text{height: 20px;
	height: 25px;
	border: 1px solid #7BAFD0;
}
.btn111{
	color:#3A79BD;
	text-align: center;
	background: -o-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -ms-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -webkit-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -moz-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -webkit-gradient(linear, left top, left bottom, from(#B8D3F0), to(#E3F1FC));
	border: 1px solid #71a6fa;
}
.btnexport{
	color:#3A79BD;
	text-align: center;
	background: -o-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -ms-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -webkit-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -moz-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -webkit-gradient(linear, left top, left bottom, from(#B8D3F0), to(#E3F1FC));
	border: 1px solid #71a6fa;
	width:130px;
}
#btn11{
	color:#3A79BD;
	text-align: center;
	width: 100px;
	background: -o-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -ms-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -webkit-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -moz-linear-gradient(top, #B8D3F0, #E3F1FC);
	background: -webkit-gradient(linear, left top, left bottom, from(#B8D3F0), to(#E3F1FC));
	border: 1px solid #71a6fa;
}
.toolbar{
	padding-top:2px;
	margin-top:15px;
	background: -o-linear-gradient(top, #63CEE4, #136AB2);
	background: -ms-linear-gradient(top, #63CEE4, #136AB2);
	background: -webkit-linear-gradient(top, #63CEE4, #136AB2);
	background: -moz-linear-gradient(top, #63CEE4, #136AB2);
	background: -webkit-gradient(linear, left top, left bottom, from(#63CEE4), to(#136AB2));
	height:30px;
	border: 1px solid #2367aa;
}
table {
	
	border-collapse: collapse;
	width:100%;
}
th, td{
	border: 1px solid #74ABCC;
}


.stt{
	text-align:center;
	background-color:#1A75C6;
	width:20px;
	color:white;
	border: 1px solid #71a6fa;
}
.input_textbo{
	border: 1px solid #7BAFD0;
}

